button {
	text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 10px; 
	background: rgb(247, 244, 244); 
	border: 20 none;
    cursor: pointer;
    -webkit-border-radius: 10px;
    border-radius: 10px; 
}
img{
	width:"55";
    height:"55";
}
div{
    position:fixed;
    top:3em; 
    left:0em;
}
span {
    font-family: arial, Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
	font-family: Times New Roman;
    border-collapse: collapse;
    width: 100%;
    border-radius: 25px;
    background: rgb(137, 217, 248);

}
canvas {
    border-radius: 50px; 
    border-color: red;
}